{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block body %} 
</br></br>
<div class ="row">
  <div class ="col-md-2"></div>
  <div class ="col-md-4">
<img src="/static/images/4.jpg" class="img-fluid rounded shadow" style="max-height: 400px; width:600px" alt="...">
</div>
<div class ="col-md-6">
<img src="/static/images/6.jpg" class="img-fluid rounded shadow" style="max-height: 400px;" alt="...">
</div>


</div>
<div class="container mt-5" >
    <h3 class="text-warning">Treasure the most priceless treasure: Wildlife</h3>
    <p class="text-secondary" style="text-align: justify;">Wildlife conservation is the practice of protecting plant and animal species 
    and their habitats, ensuring the long-term sustainability of ecosystems. 
    Human well-being is intrinsically connected to the health of our planet’s 
    natural systems, and as such, there are numerous ways in which wildlife 
    conservation benefits humans. In this article, we will explore the importance 
    of wildlife conservation, its role in human health, and how it contributes to 
    sustainable development and climate change mitigation. Additionally, we will 
    discuss some of the challenges faced in conservation efforts and possible solutions.
  </p>
  <h3 class="text-warning">Wildlife’s Role in Carbon Sequestration</h3>
  <p class="text-secondary" style="text-align: justify;">Forests, wetlands and other ecosystems support a diverse array of wildlife and play a 
critical role in sequestering carbon, thus reducing greenhouse gas emissions and 
mitigating climate change. By protecting these habitats and encouraging the growth of
 native plant and animal populations, wildlife conservation helps enhance the capacity
  of these ecosystems to store carbon and mitigate global warming.</p>

  <h3 class="text-warning">Ecosystem Resilience and Adaptation</h3>
  <p class="text-secondary" style="text-align: justify;">Biodiverse ecosystems are more resilient and better able to adapt to changes in climate. 
Wildlife conservation, therefore, directly contributes to the stability and sustainability
of ecosystems amid a changing climate. Protecting diverse plant and animal species 
enhances the overall resilience and adaptability of ecosystems, resulting in reduced
 vulnerability to the impacts of climate change, such as natural disasters and species 
 extinction.</p>

 <h3 class="text-warning">Protecting Endangered Species from Climate Impacts</h3>
 <p class="text-secondary">Climate change threatens to disrupt habitats and ecosystems, putting numerous species 
at risk of extinction. Wildlife conservation efforts focused on protecting vulnerable 
species and preserving their habitats can help ensure their survival and maintain 
ecosystem balance. This, in turn, benefits humans by safeguarding the essential.</p>

</div>

{% endblock body %} 

