{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %} 
<div class="container mt-5" >
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/1.png" class="d-block w-100" style="max-height: 700px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>ZIGGY ZAGGY - ZEBRA</h5>
          <p><b>“Our perfect companions never have fewer than four feet.”</b></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/2.png" class="d-block w-100" style="max-height: 700px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>KING OF JUNGLE - LION</h5>
          <p><b>“Perhaps the greatest gift an animal has to offer is a permanent reminder of who we really are.” </b></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/3.png" class="d-block w-100" style="max-height: 700px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>CUTIEPIE - PANDA</h5>
          <p><b>An animal’s eyes have the power to speak a great language.</b></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  <div class="container mt-5" >
  <b class="text-info">The beauty of wildlife animals</b>
  <p class="text-secondary" style="text-align: justify;">The incredible beauty of wildlife animals and why we love them so much… 
    The beauty of wildlife animals is amazing…. Not only visually, but the very fact 
    that animals still live FREE is exhilarating. When I heard there are hundreds of 
    wild deer and other wildlife animals in a huge nature reserve close to our […]
  </p>
  <b class="text-info">The incredible beauty of wildlife animals and why we love them so much…</b>
  <p class="text-secondary" style="text-align: justify;">The beauty of wildlife animals is amazing…. Not only visually, but the very 
    fact that animals still live FREE is exhilarating. When I heard there are 
    hundreds of wild deer and other wildlife animals in a huge nature reserve close 
    to our home, my response was like that form a little child. Really? Wild deer? 
    Like ‘wild’? Being a real city boy, I was thrilled to the depth of my toes… 
    I always longed to live near wildlife animals!
  </p>
  <b class="text-info">Unexpected new haven for wildlife animals</b>
  <p class="text-secondary" style="text-align: justify;">It is quite amazing how this wildlife reserve came about, since it originally 
    was destined to be a huge industrial area. The Dutch had drained a large part of 
    the sea (can you believe it?), to create more land for themselves. Incredible! 
    A vast area was set apart to become a horrible hell of industry and pollution, 
    ruining the landscapes and the environment. But… nature decided otherwise. 
    Water kept coming up from the ground and the engineers weren’t able to keep 
    the soil dry, so they abandoned it for a few years. Here you see a wildlife phot 
    I made of a stunning wife heron taking off to flight.
  </p>

  <h3 class="text-info">Enjoy this beauty from paradise in your own home or office,
    with this unique wildlife canvas print.</h3>
  </div>
{% endblock body %} 

