{% extends "base.html" %}
{% block title %}Jawai Bandh Leopard Conservation Reserve{% endblock title %}
{% block body %} 
<div class="container p-3 ml-15">
<img src="/static/images/11.jpg" class="img-fluid rounded shadow" style="max-height: 500px; width:1000px" alt="...">
</div>
<div class="container">

    <h3>Jawai Bandh Leopard Conservation Reserve – Pali, Rajasthan</h3>
    <p class="card-text"> 
    The reason this place on top of our list is its geographical features 
    that make this place entirely different from the rest of the wildlife 
    reserves in India. All the sanctuaries and national parks of India 
    have dense forests and a mélange of flora to support the ecosystem.

    But in Jawai, you get to see granite hills instead of a forest, the 
    leopards take shelter in the caves built in the rocks here. This is 
    the only place in India where you get to see cave-dwelling big cats 
    and this uniqueness makes it more special than any park or sanctuary 
    in India.

    Besides the leopards, you also get to see a large number of migratory 
    birds, crocodiles, hyenas, foxes, wolves, jungle cats, nilgai and some 
    rare species of reptiles and insects as well. All these things make 
    Jawai bandh safari a perfect experience for nature lovers, bird-watchers,
    and wildlife photographers also.

    If you want to see this beautiful region, then you must book your safari 
    with Thour Nature Resorts. This is the only tour operator in this region 
    which makes a genuine effort to bring you closer to this land. They have 
    trained and experienced rangers who ensure maximum probability of spotting 
    big cats and other animals as well.
  </p>
</div>
{% endblock body %} 