{% extends "base.html" %}
{% block title %}Jawai Bandh Leopard Conservation Reserve{% endblock title %}
{% block body %} 
<div class="container p-3 ml-15">
<img src="/static/images/13.jpg" class="img-fluid rounded shadow" style="max-height: 500px; width:1000px" alt="...">
</div>
<div class="container">

    <h3>Landfall Island Wildlife Sanctuary, Andaman</h3>
    <p class="card-text"> 
        Landfall Island Wildlife Sanctuary is nestled over the northernmost 
        island of the Andaman archipelago and shelters a bizarre array of 
        flora and fauna!

        It is one of the most beautiful animal sanctuaries in India with 
        multiple ecosystems including clear blue lagoons, dense mangroves, 
        golden beaches, tropical rainforests, wetlands, and backwaters.

        Home to the indigenous Aka-Chari tribe, this remote and untouched 
        ecological hotspot spanning 30 sq km shelters peculiar wildlife like 
        Andaman water monitors, hawksbill turtles, and green sea turtles.

       It’s also a haven for birdwatchers owing to its population of rare 
       and endangered species of aviaries like Andaman drongo, while-headed 
       starling, Andaman crake, serpent eagle, and Andaman coucal along with 
       a vibrant variety of marine animals and corals.
  </p>
</div>
{% endblock body %} 