{% extends "base.html" %}
{% block title %}Jawai Bandh Leopard Conservation Reserve{% endblock title %}
{% block body %} 
<div class="container p-3 ml-15">
<img src="/static/images/12.jpg" class="img-fluid rounded shadow" style="max-height: 500px; width:1000px" alt="...">
</div>
<div class="container">

    <h3>Gir National Park and Wildlife Sanctuary – Gujarat</h3>
    <p class="card-text"> 
        Also known as Sasan Gir, this national park and wildlife sanctuary is 
        located in the state of Gujarat with a total area of 1,412 km2 
        (545 sq mi). It is one of the most important protected areas in Asia 
        and the only region in the continent where the Asiatic lions are found.

        Due to the uncontrolled hunting expeditions led by the rulers of Indian 
        princely states, the number of Asiatic lions saw a drastic decline in 
        the 19th century.
        
        After the British viceroys highlighted the serious concern, the Nawab 
        of Junagadh established the sanctuary here. Today, it is one of the 
        biggest attractions for tourists visiting the state of Gujarat.
      
        Gir is part of the Kathiawar-Gir dry deciduous forests ecoregion and 
        is known for its diverse ecosystem with a large variety of flora and 
        fauna. With more than 500 species of plants, it becomes the largest 
        dry deciduous forest in western India.

        It is home to broadleaf trees, prosopis, casuarinas, banyan, charal, 
        kalam, sirus, amli, umlo, karanj, zizyphus, tendu babul, jamun, ber 
        among various species acacia as well. Other than the lion, you also 
        get to see 37 species of reptiles, 300 species of birds, 38 species 
        of mammals, and 2000 species of insects.
        
        The most-seen animals along with lions are rusty-spotted cats, desert 
        cats, honey badger, ruddy mongoose, Indian gray mongoose, golden jackal, 
        striped hyena, jungle cat, and Indian leopard.
  </p>
</div>
{% endblock body %} 