{% extends "base.html" %}
{% block title %}National Parks{% endblock title %}
{% block body %} 

<head>
  <style>
      h1 {
          background: linear-gradient(to right, #ff6f61, #ffcc00, #33cc33, #33ccff, #cc33ff);
          color: white;
          padding: 15px;
          border-radius: 10px;
          text-align: center;
          font-family: 'Arial', sans-serif;
          font-size: 2em;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
      }
  </style>
</head>
<body>
</br>
  <h1>NATIONAL PARK</h1>
</br>
<div class="container mt-5" >
  <div class="row featurette">
    <div class="col-md-12">
    <img src="/static/images/14.png" class="img-fluid rounded shadow" style="max-height: 500px; width:1500px" alt="...">
    </div>
    <div class="container p-3 ml-15">
  <p>India boasts 106 national parks, which cover about 1.35% of the country’s total 
    land area. These parks are vital for conserving India’s diverse wildlife, safeguarding 
    endangered species, and maintaining natural habitats. From the snow-capped vistas 
    of Hemis National Park in Ladakh to the lush mangroves of Sundarbans National Park 
    in West Bengal, each park features distinct ecosystems.

    National parks such as Jim Corbett, Kaziranga, and Ranthambore are famous for 
    their efforts in tiger conservation through Project Tiger. Recent additions like 
    Dehing Patkai and Raimona in Assam highlight India’s ongoing dedication to wildlife 
    protection. Additionally, these parks support ecotourism, scientific research, and 
    environmental education, making them essential to India’s ecological and cultural 
    legacy.
  </div>
  </p>
  <div class="col-md-12">
  <img src="/static/images/15.png" class="img-fluid rounded shadow" style="max-height: 800px; width:1500px" alt="...">
  </div>
</div>
</body>

<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        
        <h2 class="featurette-heading fw-normal lh-1">Ranthambore National Park – Sawai Madhopur Rajasthan <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">It is the biggest and the most famous wildlife conservation area 
          of Rajasthan with a total area of 1334 sq. km. It became a national park on 1 November 
          1980 and today it attracts thousands of tourists from all over the world because of 
          the exquisite sightings of Bengal tigers.

          Originally established as Sawai Madhopur Game Sanctuary in 1955, it came under the 
          Project Tiger in 1973 and later subsumed two more adjoining sanctuaries which are 
          Swai Mansingh sanctuary and Keladevi Sanctuary.
          
          Besides the tiger, visitors also get to see chital, mugger crocodile, rhesus macaque, 
          southern plains gray langur, sloth bear, striped hyena, sambar, wild boar, nilgai, 
          Indian leopard along with a broad array of reptiles, birds, plans, and trees.
        </p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/16.jpg" class="img-fluid rounded shadow" style="max-height: 500px; width:500px" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Eravikulam National Park, Munnar <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">The famous Eravikulam National Park is the home of the rare and endangered 
          Nilgiri Tahr, a type of mountain goat found in the Western Ghats!

          The park is 97 sq kilometers of Shola grasslands, forests, medicinal herbs, epiphytic 
          orchids, and balsams sheltering animals like Nilgiri langurs, Indian bison, elephants, 
          leopards, and even otters, along with birds like the Nilgiri flycatcher, white-bellied 
          shortwing, and Nilgiri wood pigeons.
          The rare Neelakurinji flowers bloom here once every 12 years, turning the whole 
          landscape purplish-blue!

          The Anamudi Peak, the highest peak in South India at an elevation of 2,695 meters, 
          also makes it one of the best wildlife sanctuaries in India!
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/17.jpg" class="img-fluid rounded shadow" style="max-height: 500px; width:500px" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Keoladeo National Park, Rajasthan<span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">Also called Bharatpur Bird Sanctuary, Keoladeo National Park is a UNESCO World Heritage Site and among the most eminent bird breeding and feeding grounds in the world.

          It’s renowned for its rich biodiversity of aviaries, both endemic and migratory 
          birds, that can be spotted near the man-made wetlands, thin forests, dry grasslands, 
          and swamps inside the park.
          
          Keoladeo shelters thousands of migratory birds in the winter season, including the 
          majestic and critically endangered Siberian Crane. It can only be spotted in this 
          region in the winter.
          
          You can spot animals like Indian fox, nilgai, jackals, wild boar, pythons, and turtles 
          along with over 370 bird species like storks, ibis, darters, cormorants, pelicans, 
          herons, egrets, ducks, cranes, eagles, wagtails, kingfishers, robins, buzzards, and 
          waders.
        </p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/18.jpg" class="img-fluid rounded shadow" style="max-height: 500px; width:500px" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>



{% endblock body %} 