{% extends "base.html" %}
{% block title %}Services{% endblock title %}
{% block body %} 

<head>
  <style>
      h1 {
          background: linear-gradient(to right, #ff6f61, #ffcc00, #33cc33, #33ccff, #cc33ff);
          color: white;
          padding: 15px;
          border-radius: 10px;
          text-align: center;
          font-family: 'Arial', sans-serif;
          font-size: 2em;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
      }
  </style>
</head>

</br>
  <h1>WILDLIFE SANCTUARY</h1>
</br>
<div class="container mt-5" >
<p>Wildlife sanctuaries in India are blessed with rich biodiversity, varying topography, 
   and exotic flora and fauna. Ecotourism hotspots like Kaziranga National Park, Kanha 
   Tiger Reserve, and Bharatpur Bird Sanctuary set amid beautiful landscapes let visitors 
   get a true taste of nature and adventure!

   Courtesy of the expansive forest cover and rich foliage in every corner of the country, 
   there are plenty of animal reserves in India dedicated to protecting our natural resources 
   as well as wildlife and birds, especially rare and endangered species.

   According to National Wildlife Database India, there are currently 573 wildlife 
   sanctuaries, tiger reserves, and bird sanctuaries in India covering about 4% of its 
   total land area!
</p>


<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/8.jpg" style="max-height: 200;" alt="...">
            <div class="card-body">
              <p class="card-text">
                <h5 class="mt-2 md-5 text-primary">Jawai Bandh Leopard Conservation Reserve – Pali, Rajasthan</h5>
                <p class="text-muted">The reason this place on top of our list is its geographical 
                features .....  </p>
                
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a class="nav-link" href="/link2">Read More</a>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a class="nav-link" href="/link2">Images</a>
                  </button>
                </div>
                <small class="text-body-secondary">...</small>
              </div>
            </div>
          </div>
        </div>
        
        
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/9.jpg" style="max-height: 700px;" alt="...">
            <div class="card-body">
              <p class="card-text">
                <h5 class="mt-2 md-5 text-primary">Gir National Park and Wildlife Sanctuary – Gujarat</h5>
                <p class="text-muted">Also known as Sasan Gir, this national park and wildlife sanctuary is 
                located in the state of Gujarat .....  </p>
                
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a class="nav-link" href="/link2">Read More</a>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a class="nav-link" href="/link2">Images</a>
                  </button>
                </div>
                <small class="text-body-secondary">...</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/10.jpg" style="max-height: 700px;" alt="...">
            <div class="card-body">
              <p class="card-text">
                <h5 class="mt-2 md-5 text-primary">Landfall Island Wildlife Sanctuary, Andaman</h5>
                <p class="text-muted">Landfall Island Wildlife Sanctuary is nestled over the northernmost 
                island of the Andaman .....</p>
              
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a class="nav-link" href="/link3">Read More</a>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a class="nav-link" href="/link3">Images</a>
                  </button>
                </div>
                <small class="text-body-secondary">...</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






{% endblock body %} 

